body {
	background-color: #efefef;
	margin: 0;
	padding: 0;
}
#setup #container {

}
#setup #header {
	padding-left: 15px;
}
#setup #header h2 {
	margin-left: 25px;
}
#setup #contents {
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 0;
}
#setup #content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#setup #footer {
	padding-left: 15px;
}
#setup #footer p {
	font-size: 0.9em;
	color: #aaaaaa;
}

p.failure {
	background-color: #ffd2d2;
	border: 1px solid #cc0000;
	padding: 7px;
}
p.success {
	background-color: #d6fbd7;
	border: 1px solid #61e862;
	padding: 7px;
}
